<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<section class="product_page_banner_image bg-light">
  <div class="hero_banner_image">
    <a href="#"><img src="{{ section.settings.banner_image | img_url:'master'}}"/></a>
  </div>
</section>
<section class="bg-white">
  <div class="container bg-white">
    <div class="section_title text-center">
      <h2 class="title_bold">{{ section.settings.headings1 }}</h2>
    </div>
    <div class="row">
      {% for block in section.blocks %}
        <div class="col-md-4 pb-5">
          {% if block.settings.product_image!=blank %}
          <div class="custom_lists_products" style="border: 1px solid #dee2e6; border-radius:5px;">
            <div class="custom_image">
              <a href="#">
                <img src="{{ block.settings.product_image | img_url:'master'}}"/>
              </a>
            </div>
            {% endif %}
            <div class="px-2">
              <div class="product-card__title" aria-hidden="true">
                <h4>{{ block.settings.card__title }}</h4>
              </div>
              <div class="price_listing mt-4">
                <h2>{{ block.settings.price_list }}</h2>
              </div>
              <div class="about_product">
                <p class="paragraph">{{ block.settings.about_product }}</p>
              </div>
            </div>
            <button type="button" class="btn btn-dark btn-block p-3 mt-5"><span style="font-weight:600; font-size:18px;">ADD TO CART</span></button>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "product-page",
    "settings":[
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "banner_image"
    },
    {
      "type": "text",
      "id": "headings1",
      "label": "Heading",
      "default": "Quick links"
    }
  ],
    "blocks":[
      {
        "type":"banner",
        "name":"image",
        "limit":15,
        "settings":[
        {
          "type": "image_picker",
          "id": "product_image",
          "label": "Logo image"
        },
        {
          "type": "text",
          "id": "card__title",
          "label": "Heading",
          "default": "Quick links"
        },
        {
          "type": "text",
          "id": "price_list",
          "label": "Heading",
          "default": "Quick links"
        },
       {
          "type": "text",
          "id": "about_product",
          "label": "Heading",
          "default": "Quick links"
        }
        
      ]
    }   
  ],
  "presets":[
  
              {
                "name":"product-page",
                "category":"custom"
              }
            ]
}
{% endschema %}

<style>
  .hero_banner_image img{
    width:100%;
    overflow:hidden;
  }
  .section_title .title_bold {
    font-size: 51px;
    font-weight: 700;
    line-height: .76;
    letter-spacing: -.26px;
    margin-bottom: 30px;
    padding-top: 40px;
  }
  .custom_lists_products img{
    width:100%;
  }
  .product-card__title h4{
    font-weight:bold;
  }
  .price_listing h2{
      font-weight:bold;
  }
  .paragraph{
    font-size:15px;
  }
</style>